<div class="my-container">
  <h1>New article</h1>
  <%= form_with model: @article, verb: :post do |form| %>
  <div class="my-3">
    <%= form.label :title, "Title", class: "form-label" %>
    <%= form.search_field :title, value: @article.title, class: "form-control" %>
  </div>
  <div class="my-3">
    <%= form.label :content, "Content", class: "form-label" %>
    <%= form.text_area :content, value: @article.content, class: "form-control", rows: "5" %>
  </div>
  <%= form.submit "Create Article", class: "btn btn-primary" %>
  <% end %>
  <div class="edit-backshow-buttons">
    <%= link_to "Home", articles_path %>
  </div>

</div>
